<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbatek Blog | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link
    rel="icon"
    href="https://i0.wp.com/abbatekgroup.com/wp-content/uploads/2023/01/cropped-abbatek-logo-condensed.png?fit=192%2C192&amp;ssl=1"
    sizes="192x192"/>
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"/>
</head>